

<div class="container mt-5">

    <div *ngIf="juguete" class="row animate__animated animate__bounce animate__fadeIn">

        
        <div class="col-md-9">
            <img src="../../../assets/images/{{ juguete.data.path_imagen }}" >
        </div>
        
        <div class="col-md-9">
            <p><strong>Identifier: </strong> {{ juguete.data.id }} </p>
            <p><strong>Descripción:</strong>{{juguete.data.descripcion }}</p>
            
        </div>
        <div class="col-md-9">
            <a class="btn btn-danger" routerLink="/">Volver</a>
        </div>

    </div>
</div>
